header {
padding: 200px 100px;
background-image: url('https://cdn.wallscloud.net/converted/393176763-komnata-r5xp-1920x1080-MM-100.jpg');
 /*background: linear-gradient(to left, #833ab4,#fd1d1d); */
 backdrop-filter: blue(2px);
 background-attachment: fixed;
 background-repeat: repeat;
 background-size: cover; 
}
/*-../img/back-hd.jpg-*/

section {
  padding-top: 20px;
  background-color: rgb(255, 255, 255);
}

/*------Search and Filter section------*/
.filters{
padding-top:8%;


}
.searchlayout{
  left:45%;
}
.item{
  margin-top:3px;
  text-align: center;
box-sizing: border-box;
border-radius: 2px;
border: 2px;
border-color: antiquewhite;
color:rgb(223, 223, 223);

}
.item-1{
  margin: 5px;
  height: 50px;
  border-radius: 2em;
  border: 3px solid rgba(255, 250, 250, 0);
  background-color: rgba(81, 81, 82, 0.534);
}
.item-1:hover{
  background-color:rgb(0, 148, 91)
}

.category{
  margin-top:4%;
}


.item-group{
text-decoration: none;
display: inline-flex;
position: relative;
top:18%;
left:5%;
}
.pointer {
  cursor: pointer;
  font-size: 16pt;
  font-weight: 500;
  color:rgb(203, 203, 214);
}
/*------Navbar section------*/
.user-icon-color{
  color: rgb(193, 193, 196);
  width: 20px;
  height: 20px;
  margin-left: 15px;
  padding-left: 0;
}
.btn-shift{
  padding-left: 0;
}
.nav-color{
  background-color: rgba(212, 209, 209, 0.918);
  }
/*------Card section------*/
.box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width:120px;
  height:150px;
}

.box{
  margin:5px;
 margin-left:7px;
 transition: transform .3s; 
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
 
}
.box:hover{
 
  box-shadow: 44px;
  
  transform: scale(1.05);
}
.box p{
  line-height: 120%;
}
.card-content{
 padding-top: 10px;
 
}
.card-content p{
font-size: 10pt;
 }
/*---------register layout---------------*/
.form-layout{
 background-color: rgba(59, 59, 59, 0.603);
 padding: 10px;
 border: 1px solid rgba(0, 0, 0, 0.219);
 border-radius: 4px;
 margin-left:24%;
}
.text-head{
  font-size: 20px;
  margin-left: 120px;
}
.ad-banner{
  background-color:wheat;
  letter-spacing: 2px;
  border-radius: 10px;
  filter: brightness(2);
  font-weight: 400;
  border-end-end-radius: 10px;
  
}
.category-info{
  color: black;
}
#value-product{

border-radius: 6px ;
float: right;
font-size: 14pt;
}
.icons{
  float: right;
  font-size: 24pt;
  color:rgb(0, 0, 0);
  transition: transform .2s; 
}
.icons:hover{
  float: right;
  font-size: 24pt;
  color:rgba(255, 0, 0, 0.842);
  transform: scale(1.2);
}
.profile-icon a{

  font-size:13pt;
  letter-spacing: 1px;

}
.box-panel{
 margin-left: 10px !important;
 
  padding:10px !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-radius: 10px;
 
}
.z-indexing{
 width: 100%;
}

.feedback{
  margin:10px;
  padding:40px;
  width:80%;
  height: auto;
}
/*---------empty.html--------------*/
#value-product-list{
float:right;
color:rgb(36, 35, 34);
letter-spacing: 1px;
border-radius: 5px;
font-size: 20pt;
font-weight: 500;


}

.img-product{
  display: block !important; 
  width:225px !important;
  height:180px !important;
  margin-left: 2px !important;
}

.boxing{
font-size: 12pt;
  transition: transform .3s; 
}
.boxing:hover{
  font-size: 12pt;
  transform: scale(1.05);
  background-image: linear-gradient(45deg,rgba(235, 199, 0, 0.164),rgba(255, 255, 144, 0.425))
}
.product-detail{
  margin-top:10px;
  margin-left: 10px;
  background-color: rgb(247, 242, 242);
  padding: 10px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px #e2dfdf;
  border-bottom-color: #833ab4;
  font-size: 14pt;
  margin-bottom: 10px;
}
.nav-route{
  padding-top:5%;
  font-size: 14pt;
}
.py-5{
background-color: rgba(0, 0, 0, 0.89);
}
.list-group-items{
line-height: 80px;
background-color: #fd1d1d;
font-size: 20pt;
font-weight: 700;
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.btn-color{
  background-color: red;
}
.title-panel{
background: rgb(238, 237, 237);

}
.title-panel p{
 padding-top: 2.5%;
 padding-left: 2.5%;
 font-weight: 400;
}
.social ul{
  margin-left: 5px;
}
.social ul li{
  display: inline-block;
  font-size: 20pt;
  
  list-style: none;
  padding-left: 10px;
  letter-spacing: 2px;
}

.item-list{
  font-size: 14pt;
  list-style: none;
  color: rgb(126, 126, 126);
}

.item-list ul li a{
  color:rgb(196, 196, 196);
  text-decoration: none;
}
.item-list ul li a:hover{
  color:rgb(114, 111, 111);
  
}
#icon-footer{
  font-size: 25pt;
  padding:10px;
}
#icon-footer i{
  transition: transform .3s; 
}
#icon-footer i:hover{
  transform: scale(1.3);
color:rgb(206, 206, 206);
}
.decor{
  font-family: 'Playfair Display', serif;
  color: rgb(128, 128, 128);
  font-size: 12pt;
font-style: italic;
  letter-spacing: 1px;

}
.mybox{
  margin-left:5%;
  margin-right:5%;;
}
.mybox2{
  margin-left:15%;
  margin-right:15%;;
}


.section-gaping{
margin-bottom: 20%;
}

.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  margin-top:10%;
 background: linear-gradient(to left,#833ab4,#fd1d1d);
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
 
}
.contact-info{
  margin-top:10%;
  color: white;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
margin-top: 10%;
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
.contact-panel{

}
.foto-block{
padding-left: 10%;
padding-right: 10%;
width: 100%;
height:400px;
}
.as{
  color:blueviolet;
  background-color: rgb(163, 24, 24);
}
/*------sidebar zone---------------*/

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 10;
  height: 100%;
  top: 47px;
  right: 0;
  background-color: rgb(31, 20, 20);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #bdb9b9;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: rgb(255, 255, 255);
}

.sidepanel .closebtn {
  position: absolute;
  top: 5px;;
  right: 15px;
  font-size: 36px;
}

.openbtn {
  cursor: pointer;
 
}

.openbtn:hover {
  background-color:rgb(228, 224, 224);
}
